{%- if page.state -%}
{%- capture state_hub_url -%}/{{ page.state }}/{%- endcapture -%}
{%- assign state_hub_url = state_hub_url | strip -%}
{%- endif -%}
{%- if page.city and page.state -%}
{%- assign city = site.data.cities | where: "id", page.city | where: "state", page.state | first -%}
{%- assign city_issues = site.issues | where: "city", page.city | where: "state", page.state | sort: "date" | reverse -%}
{%- include current-issue.html issues=city_issues -%}
{%- assign latest_issue = current_issue -%}
{%- capture city_url -%}/{{ page.state }}/{{ page.city }}/{%- endcapture -%}
{%- assign city_url = city_url | strip -%}
{%- if page.year -%}
{%- capture page_year_url -%}/{{ page.state }}/{{ page.city }}/{{ page.year }}/{%- endcapture -%}
{%- assign page_year_url = page_year_url | strip -%}
{%- endif -%}
{%- if latest_issue -%}
{%- capture latest_year_url -%}/{{ page.state }}/{{ page.city }}/{{ latest_issue.year }}/{%- endcapture -%}
{%- assign latest_year_url = latest_year_url | strip -%}
{%- endif -%}
{%- endif -%}
