{%- comment -%}
  Sitewide JSON-LD. No parameters.
{%- endcomment -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": {{ "/#website" | absolute_url | jsonify }},
      "url": {{ "/" | absolute_url | jsonify }},
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | jsonify }},
      "publisher": {
        "@id": {{ "/#organization" | absolute_url | jsonify }}
      },
      "author": {
        "@id": {{ "/about/#person" | absolute_url | jsonify }}
      }
    },
    {
      "@type": "Organization",
      "@id": {{ "/#organization" | absolute_url | jsonify }},
      "name": {{ site.title | jsonify }},
      "url": {{ "/" | absolute_url | jsonify }},
      "logo": {
        "@type": "ImageObject",
        "@id": {{ "/#logo" | absolute_url | jsonify }},
        "url": {{ site.logo | absolute_url | jsonify }},
        "width": 512,
        "height": 512
      }
      {%- assign social_links = site.social.links -%}
      {%- assign social_count = social_links | size -%}
      {%- if social_count > 0 -%},
      "sameAs": {{ social_links | jsonify }}
      {%- endif %}
    },
    {
      "@type": "Person",
      "@id": {{ "/about/#person" | absolute_url | jsonify }},
      "name": {{ site.author.name | jsonify }},
      "url": {{ "/about/" | absolute_url | jsonify }}
      {%- if site.author.twitter -%},
      "sameAs": [
        {{ "https://twitter.com/" | append: site.author.twitter | jsonify }}
      ]
      {%- endif %}
    }
  ]
}
</script>
